{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<br/>


  <h2> "Employees' Details" </H2>
   
    <table class="table">
  <thead>
    <tr>
      
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created_at</th>
			<th scope="col">id</th>
			
    </tr>
  </thead>
  <tbody>
     {% if records %}
    {% for record in records %}

    <tr>
      <td>{{ record.first_name }}</td>
      <td>{{ record.last_name }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address}}</td>
     	<td>{{ record.city }}</td>
    	<td>{{ record.state }}</td>
    	<td>{{ record.zipcode }}</td>
    	<td>{{ record.created_at }}</td>
    	<td>{{ record.id }}</td>
    </tr>

      {% endfor %} 

    {% endif %}

    </tbody>
</table>

    
    <br/><br/>
    
  
    {% else %}

<br/><br/>


<div class="col-md-4 offset-md-4">

<form method="POST": action="{% url "home" %}">
    {% csrf_token %}

<form>
  <div class="mb-5"  card>
    
    <input type="text" class="form-control"  placeholder="username" name="username">
    
  </div>

  <div class="mb-3" card>
    
    <input type="password" class="form-control"  placeholder="password" name="password">
    
  </div>
 
 
  <button type="submit" class="btn btn-secondary">login</button>
  </div>
</form>
</form>

{% endif %}

{% endblock  %}